<%= form_with(model: @order, url: orders_path, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: 2 %>
  
  <% @items.each do |item| %>
    <div class="item-row">
      <%= form.hidden_field :user_id, value: current_user.id %>
      <label>
        <%= check_box_tag 'ordered_items[][id]', item.id %>
        <%= item.name %>
      </label>
      <input type="number" name="ordered_items[][quantity]" min="0" value="0">
    </div>
  <% end %>

  <%= form.button 'Place Order', class: 'button is-primary' %>
<% end %>